### MahJong CNN Model with CNN blocks
Old Validation Acc: 93.5%
New Validation Acc: 

### MahJong CNN Model with BottleNeckV2
Old Validation Acc: 93.35%
New Validation Acc: 78.05%

### MahJong Attention Model 2
Old Validation Acc: 93.5%
New Validation Acc: 81.35%

### MahJong Attention Model 3
Note: 5 layer cnn enc
New Validation Acc: 75.26%

### MahJong Attention Model 3
Note: 3 layer cnn enc
New Validation Acc: 

### MahJong Attention Model 4
New Validation Acc: 75.51%

### MahJong Attention Model 4 (New)
New Validation Acc: 75.91%

### MahJong CNN Model with 256 dim
New Validation Acc: 78.31%

### MahJong CNN Model 3 
New Validation Acc: 78.89%
#### Selected for CNN Model

### MahJong CNN Model with 512 dim
New Validation Acc: 78.28%

### MahJong Attention Model 2A
New Validation Acc: 82.37%
#### Selected for Attention Model

### MahJong Attention Model 2 (re-test)
New Validation Acc: 81.26%

### MahJong CNN Model 5
New Validation Acc: 77.9%

### MahJong CNN Model 6
New Validation Acc: 78.09%

### MahJong CNN Model 6 Large
New Validation Acc: 77.96%